<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Currency Converter</h1>
    <form method="POST">
        <label for="amount">Amount:</label>
        <input type="number" step="0.01" name="amount" required><br><br>

        <label for="from_currency">From: </label>
        <select name="from_currency" required>
            {% for currency in currencies %}
                <option value={{currency}}>{{currency}}</option>
            {% endfor %}
        </select><br><br>

        <label for="to_currency">To: </label>
        <select name="to_currency" required>
            {% for currency in currencies %}
                <option value="{{currency}}">{{currency}}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Convert">
    </form>

    {% if result is not none %}
        <h3>{{from_currency}}: {{amount}} {{to_currency}}: {{result}}</h3>
    {% endif %}
</body>
</html>
